<!-- chatbot -->


<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script> -->


<div class="chat-interface">
    <div class="messages-container">
  <div class="chat-messages" id="chatMessages">
</div>
    <!-- Messages will be inserted here -->
  </div>
  
  <div class="input-container">
    <form class="input-form" id="chatForm">
      <input type="text" class="chat-input" placeholder="Type your question about Lauren..." id="chatInput">
      <button type="submit" class="send-button">
        <svg class="arrow-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m0 0l-7-7m7 7l-7 7"/>
        </svg>
      </button>
    </form>
  </div>
</div>

