

	{%- if site.posts.size > 0 -%}
                    <div class="no-padding clearfix">

					{%- for post in site.posts -%}
							{%- if page.title == post.title  -%}

							{%- elsif post.category == "fun"  -%}
								{%- include singlework.html -%}
							{%- endif -%}

					{%- endfor -%}


				</div>
				{%- endif -%}
				    <div class="h-20"></div>

<div class="CTA-event twoline" data-aos-delay=".2">
          <a href="https://codepen.io/collection/MgjbZM" onclick="ga('send', 'event', 'home', 'click', 'codepen')" target="_blank"><p class="CTA-event-thumbnail center">See more prototypes<span class="CTA-event-smalltext">on CodePen</span></p></a>
        </div>

    <div class="h-50"></div>
