<div class="section" id="projects_product">
  <div class="container">
    <div class="container-fluid">
      <h2 class="center">Designing products<span class="blink">.</span></h2>
      <p class="center">Leading design discovery to shipping with cross-functional collaboration</p>
    </div>
    <div class="h-20"></div>

    <!-- main container -->
    <div class="main-container portfolio-inner clearfix">

      <!--  <p class="NDA col-md-8 col-md-offset-2" data-aos="fade-up">
        Product design case studies from recent 3 years are available upon request.
      </p> -->
      <!-- portfolio div -->
      <div class="portfolio-div">

        <div class="portfolio" data-aos="fade-up">
          {%- include portfolio_product.html -%}
        </div>
        <!-- portfolio -->
      </div>
      <!-- end portfolio div -->
    </div>
    <!-- end main container -->

  </div>
</div>

<div class="wave pre-code">
  <svg width="200%" height="20px">
    <rect x="0" y="0" width="100%" height="100%" fill="url(#pattern-wave-pre-code)" />
  </svg>
</div>

<div class="section" id="projects_creative">
  <div class="container">
    <div class="container-fluid">
      <h2 class="center">Creative coding<span class="blink">.</span></h2>
      <p class="center">Playful hacking, creative outlet</p>
    </div>
    <div class="h-20"></div>

    <!-- main container -->
    <div class="main-container portfolio-inner clearfix">
      <div class="h-20"></div>

      <!-- portfolio div -->
      <div class="portfolio-div">

        <div class="portfolio">
          {%- include portfolio_creative.html -%}

        </div>

        <!-- portfolio -->
      </div>
      <!-- end portfolio div -->
    </div>
    <!-- end main container -->

  </div>
</div>