<div class="section" id="projects_ai">
    <div class="container-fluid">
        <div class="container-fluid">
            <h2 class="center">Experimenting with AI<span class="blink">.</span></h2>
            <p class="center">Solo designed, built, and launched</p>
        </div>
        <div class="h-20"></div>
        <!-- main container -->
        <div class="main-container portfolio-inner clearfix">
            <div class="h-20"></div>

            <!-- portfolio div -->
            <div class="portfolio-div">
                <div class="portfolio" data-aos="fade-up">
                    <!-- AI Project 1 -->
                    <div class="col-md-3 col-sm-6 col-xs-12" data-aos="fade-up" data-aos-delay="100">
                        <a href="https://echoo-ai.vercel.app/lauren" target="_blank" class="portfolio_item ai-project">
                            <div class="portfolio-img">
                                <img src="img/portfolio/echoo.png" alt="image" class="img-responsive hoverZoomLink">

                                <div class="portfolio-overlay">
                                    <div class="portfolio-overlay-content">
                                        <h2 class="size-h3">✨Echoo AI</h3>
                                            <p class="card-excerpt">Build authentic digital representation of your
                                                expertise or personal stories. Get insight on what people are interested
                                                in.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- AI Project 2 -->
                    <div class="col-md-3 col-sm-6 col-xs-12" data-aos="fade-up" data-aos-delay="200">
                        <a href="https://guesswhat.lauren.wang/" target="_blank" class="portfolio_item ai-project">
                            <div class="portfolio-img">
                                <img src="img/portfolio/guesswhat.png" alt="image" class="img-responsive hoverZoomLink">

                                <div class="portfolio-overlay">
                                    <div class="portfolio-overlay-content">
                                        <h2 class="size-h3">Guess What?!</h3>
                                            <p class="card-excerpt">AI image guessing party game. Create your art with
                                                AI, let your friend guess how you made it.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- AI Project 3 -->
                    <div class="col-md-3 col-sm-6 col-xs-12" data-aos="fade-up" data-aos-delay="300">
                        <a href="https://sandbox.lauren.wang/stringtone" target="_blank"
                            class="portfolio_item ai-project">
                            <div class="portfolio-img">
                                <img src="img/portfolio/stringtone.gif" alt="image"
                                    class="img-responsive hoverZoomLink">
                                <div class="portfolio-overlay">
                                    <div class="portfolio-overlay-content">
                                        <h2 class="size-h3">🎵String Tone</h3>
                                            <p class="card-excerpt">Automatically generating interactive music box based
                                                on what you enter</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- AI Project 4 -->
                    <div class="col-md-3 col-sm-6 col-xs-12" data-aos="fade-up" data-aos-delay="400">
                        <a href="" class="portfolio_item ai-project">

                            <div class="portfolio-img">
                                <img src="img/portfolio/pageassis.png" alt="image" class="img-responsive hoverZoomLink">

                                <div class="portfolio-overlay">
                                    <div class="portfolio-overlay-content">
                                        <h2 class="size-h3">Page Assistant</h3>
                                            <p class="card-excerpt">Chrome extension that let you consume content on any
                                                webpage in a personalized and interactive way.</p>

                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- portfolio -->
            </div>
            <!-- end portfolio div -->
        </div>
        <!-- end main container -->

    </div>
</div>