<!-- about -->
<div class="section" id="reviews">

	<div class="container">
		<div class="col-md-12">
			<h2>What my colleagues say<span class="blink">_</h2>
				<p><a href="https://g.co/bard/share/b8f52d6ffd81" onclick="ga('send', 'event', 'home', 'click', 'Summarized')"  target="_blank">Summarized by AI</a> based on recommendations and peer feedback. </p>
				<div class="h-20"></div>

			</div>
			<div class=" no-padding clearfix">
				<div class="col-md-4 col-sm-6" >
					<section class="aicard color1">
						<span class="material-symbols-outlined" >face</span>
						<div>
						<h3 class="size-h4">Detailed & User-Focused</h3>
						<p class="card-excerpt">Lauren creates high-quality designs that are focused on the needs of the user. She pays attention to detail and makes sure that her designs are clear, concise, and easy to use.</p>
					</div>
					</section>
				</div>
				<div class="col-md-4 col-sm-6" >
					<section class="aicard color2">
						<span class="material-symbols-outlined">insert_chart</span>
						<div>
						<h3 class="size-h4">Data-Driven Decisions</h3>
						<p class="card-excerpt">Lauren uses data to inform her design decisions. For example, she partnered with a data scientist to get analytics for each step in the sign-up funnel for a Uber project. </p>
					</div>
					</section></div>
					<div class="col-md-4 col-sm-6" >
					<section class="aicard color3" >
						<span class="material-symbols-outlined" >emoji_objects</span>
						<div>
						<h3 class="size-h4">Creative Problem Solver</h3>
						<p class="card-excerpt">Lauren is a creative thinker who is able to come up with unique and effective design solutions. For example, she was able to simplify complicated content streams into organized navigable structures for a website development project. </p>
					</div>
					</section></div>
					<div class="col-md-4 col-sm-6" >
						<section class="aicard color4" >
							<span class="material-symbols-outlined" >code_blocks</span>
							<div>
							<h3 class="size-h4">Tech-Savvy Designer</h3>
							<p class="card-excerpt">Lauren has a strong understanding of design tools and code, and she is able to use them effectively in her work. For example, she has won company hackathons three years in a row for building projects that were fun, innovative, and focused on accessibility.</p>
						</div>
						</section>
					</div>
					
						<div class="col-md-4 col-sm-6" >
							<section class="aicard color5" >
								<span class="material-symbols-outlined" >diversity_4</span>
								<div>
								<h3 class="size-h4">Team Player</h3>
								<p class="card-excerpt">Lauren is a great collaborator who is able to motivate and guide others. She is also able to work well with different stakeholders, such as product managers, engineers, and data scientists. </p>
							</div>
							</section></div>
						<div class="col-md-4 col-sm-6" >
						<section class="aicard color6" >
							<span class="material-symbols-outlined">local_library</span>
							<div>
							<h3 class="size-h4">Fast Learner</h3>
							<p class="card-excerpt">Lauren is able to quickly grasp new information and put it into action. For example, when she joined Meta, she did extensive audits of prior work so that her additional designs could push the product forward in new and better directions.</p>
						</div>
						</section></div>
								
							</div>


							<div class="CTA-event twoline" data-aos-delay=".2">
          <a href="https://www.linkedin.com/in/laurenvast/details/recommendations/" onclick="ga('send', 'event', 'home', 'click', 'recommendations')" target="_blank"><p class="CTA-event-thumbnail center">Read recommendations<span class="CTA-event-smalltext">on Linkedin</span></p></a>
        </div>

						</div>
		<!-- <div class="scrollwrap container full-width">
			<section class="singlereview mySlides crossfade">
				<p><i class="ion-quote"></i></br>Lauren is a deep and creative thinker, with great ambition and technical expertise to bring to her creative and lovely design aesthetic. She is so talented about thinking in terms of systems. She has lead the pack at finding ways to efficiently partner with developers to optimize workflows for both design and engineering. She has innovated on the process of animation and hand off to engineering to a beyond impressive point.</br>Lauren is also so generous with her time, and is open to sharing the knowledge she builds with others on the team. She was instrumental in documenting our user experience. Her user flows are legendary! I admire her talent, her willingness to learn and to try new things and her constant push for quality and better/more consistent design for our users.</p>
				<button>Read more</button>
				<p class="name">Amanda Tracy</p>
				<p class="title">Director of Product Management at Amplify</p>
			</section>

			<section class="singlereview mySlides crossfade">
				<p><i class="ion-quote"></i></br>Lauren is a thoughtful and thorough designer, both inquisitive and self directed. She is interested in both applying research methods and open to exploration for the sake of learning something unexpected. She has a keen appetite for optimization in design workflow and applying design thinking directly in code. I would love to work with Lauren again in the future and believe she would enhance the design work and culture of any team lucky enough to have her.</p>
				<button>Read more</button>

				<p class="name">Laura Villa</p>
				<p class="title">Senior Director of Product Design at Amplify</p>
			</section>

			<section class="singlereview mySlides crossfade">
				<p><i class="ion-quote"></i></br>Lauren is one of the most innovative creative technologists I've ever worked with. Her ability to process complexity and output an elegant solution is truly amazing. Lauren's hunger for knowledge and self-improvement is awe-inspiring. She's constantly seeking ways to push her skills further, to know more, to attend conferences.</br>Lauren is a hard worker who clearly loves what she does. Her warm and friendly disposition, as well as her sense of humor, make Lauren a joyful team member and a valuable mentor. She is always gracious with her time whenever a colleague needs help with something. Lauren is a rare gem.</p>
				<button>Read more</button>

				<p class="name">Julia Sverchuk</p>
				<p class="title">Senior Creative Director at Amplify</p>
			</section>

			<section class="singlereview mySlides crossfade">
				<p><i class="ion-quote"></i></br><b>Attention to detail:</b> Lauren's day to day work demonstrates great thoroughness and thoughtfulness of ideas.</br>
				<b>Flexibility:</b> she can think and work in the moment, with stakeholders throwing ideas around, and everything ends up captured in the work, and moving things forward.</br>
				<b>Clarity:</b> she presents her thoughts and process candidly, so we can all follow along.</br>
				<b>Fun:</b> she very obviously loves what she's doing, and has a knack for making technical things delightful, which really rubs off on the team in all kinds of great ways.</p>
				<p class="title">Unknown colleagues at Amplify</p>
			</section>

			<section class="singlereview mySlides crossfade">
				<p><i class="ion-quote"></i></br>Lauren is a pleasure to work with. She fully understands the goals, problems, and requirements of projects she works on and creates thoughtful design solutions even when there are tough constraints. Lauren works well on both projects with tight deadlines and minimal scope as well as long-term conceptual explorations.</br>
					<i class="ion-quote"></i>Lauren asks great (and hard) questions. She can be counted on to expose areas of ambiguity, unclear strategy, and less-obvious (but important) use cases.</p>
					<p class="title">Unknown colleagues at Amplify</p>
				</section>
		</div> -->





			<div class="h-20"></div>


			<div class="container">

				<div class="col-md-10 col-md-offset-1 slideControls">
					<!-- <button class="prev" onclick="plusSlides(-1); ga('send', 'event', 'button', 'review_nav', 'prev')"><i class="ion-arrow-left-b"></i>Prev</button>
				
					 <button class="next" onclick="plusSlides(1); ga('send', 'event', 'button', 'review_nav', 'next')">Next<i class="ion-arrow-right-b"></i></button> -->
				</div>
			</div>
	
</div>

<!-- ./about -->
